* {
    font-family: Arial, sans-serif !important;
}
.out-of-stock {
    
position: absolute !important;
top: 15% !important; /* Điều chỉnh vị trí của hình ảnh */
left: 0% !important; /* Điều chỉnh vị trí của hình ảnh */
width: 100% !important; /* Kích thước hình ảnh "hết hàng" */
height: auto !important; /* Tự động điều chỉnh chiều cao theo chiều rộng */
pointer-events: none !important; /* Không cho phép tương tác với hình ảnh "hết hàng" */
z-index: 10 !important; /* Đặt thứ tự z để đảm bảo hình ảnh "hết hàng" nằm trên cùng */
}
.ten {
display: inline-block !important;
max-width: 50px !important; /* Bạn có thể điều chỉnh lại kích thước phù hợp */
white-space: nowrap !important;
overflow: hidden !important;
text-overflow: ellipsis !important;
vertical-align: middle !important;
}
.w-96{
width: 40rem !important;
}
.pagination-btn {
display: inline-block;
padding: 10px 15px;
margin: 0 5px;
font-size: 16px;
font-weight: bold;
color: #333;
background-color: #f0f0f0;
border: 2px solid #ddd;
border-radius: 5px;
transition: all 0.3s ease;
text-align: center;
text-decoration: none;
}

.pagination-btn:hover {
background-color: #37486c;
color: white;
border-color: #37486c;
}

.pagination-btn.active {
background-color: #4a7ded;
color: white;
border-color: #4a7ded;
}
